<!-- <table>
  <tr>
    <th>#</th>
    <th>username </th>
    <th>Phone </th>
    <th>email</th>
  </tr>
  <tr *ngFor="let user of allUsers">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td>


    <td><p><button  class="seeMore" (click)="viewDetails(user.id)">See More</button></p></td>
  </tr>
</table> -->

<!-- ========================================= -->

<div class="clearfix"></div>
<br /><br />
<div class="col-div-12">
  <div class="box-12">
    <div class="content-box">
      <div class="input-elevated">
        <input
          type="text"
          placeholder="Search Parcel"
          [(ngModel)]="filteredString"
        />
        <button class="search-btn">Search</button>
      </div>

      <br />
      <table>
        <tr>
          <th>#</th>
          <th>username</th>
          <th>Phone</th>
          <th>email</th>
          <th>Action</th>

        <tr *ngFor="let user of allUsers">
          <td>{{ user.user_id }}</td>
          <td>{{ user.user_name }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.user_email }}</td>

          <td>
            <p>
              <button class="seeMore" (click)="viewDetails(user.user_id)">
                See More
              </button>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
