<!-- <app-header></app-header> -->
<!-- <router-outlet></router-outlet> -->
<!-- =======hero section================= -->
<div class="hero">
  <div class="container">
    <section class="features">
      <div class="row">
        <div class="col-md-6" data-aos="fade-right"
        data-aos-easing="ease-out"
        data-aos-duration="1500">
          <div class="feature-box">
            <div class="feature-img">
              <img src="../../assets/images/right1.png" alt="" />
            </div>
          </div>
          <p class="par">
            <img
              src="../../assets/images/icons8-volunteering-64.png"
              class="hands"
            />
            <span>Your reliable partner</span>
          </p>
          <!-- ====== -->

          <!-- ====== -->
        </div>
        <div class="col-md-6"  data-aos="fade-left"
        data-aos-easing="ease-out"
        data-aos-duration="1500">
          <div class="feature-box">
            <div class="feature-img">
              <img src="../../assets/images/bike-3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- =========================end of hero section============= -->

<div class="who_we_are">
  <div class="container">
    <div class="row">
      <section class="gallery">
        <h1>About Us</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-4"  data-aos="zoom-in"
            data-aos-easing="ease-out"
            data-aos-duration="700"
            data-aos-delay="100">
              <div class="gallery-box">
                <h4>Who We Are.</h4>
                <p>
                  <B style="color: #cb562e">SENT-IT</B> is your errands services
                  runner and your doorstep delivery partner for all your
                  day-to-day needs from office to household. We provide
                  customer-tailored services with excellent rating from our
                  growing number of customers.
                </p>
              </div>
            </div>
            <div class="col-md-4"  data-aos="zoom-in"
            data-aos-easing="ease-out"
            data-aos-duration="700"
            data-aos-delay="400">
              <div class="gallery-box">
                <img src="../../assets/images/kamtu.png" alt="" />
              </div>
            </div>
            <div class="col-md-2" data-aos="zoom-in"
            data-aos-easing="ease-out"
            data-aos-duration="700"
            data-aos-delay="700">
              <div class="our-vision" id="vision">
                <h4 [ngStyle]="{ color: '#cb562e' }">Our Vision</h4>
                <p>Your Efficient errands master</p>
              </div>
            </div>
            <div class="col-md-2" id="Mission"  data-aos="zoom-in"l
            data-aos-easing="ease-out"
            data-aos-duration="700"
            data-aos-delay="1000">
              <div class="our-vision">
                <h4 [ngStyle]="{ color: '#cb562e' }">Our Mission</h4>
                <p>
                  To enable our customers <br />
                  conveniently access <br />
                  quality products and <br />
                  services through while <br />
                  ensuring safe doorstep <br />
                  delivery
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- =================================== -->
<div class="who_we_are">
  <div class="container">
    <div class="row">
      <section class="gallery">
        <h1 [ngStyle]="{ color: '#cb562e' }">Our Coverange</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-4"  data-aos="fade-right"
            data-aos-easing="ease-out"
            data-aos-duration="1500">
              <div class="gallery-box">
                <div class="lottie-animation mt-10">
                  <ng-lottie
                    [options]="options"
                    (animationCreated)="animationCreated($event)">
                  </ng-lottie>
                </div>
              </div>
            </div>
            <div class="col-md-8"  data-aos="fade-left"
            data-aos-easing="ease-out"
            data-aos-duration="1500">
              <div class="gallery-box">
                <p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63835.21189417865!2d36.917681393708584!3d-0.4398688873777691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18285dfed09e0ebf%3A0x829716f702f65e9e!2sNyeri!5e0!3m2!1sen!2ske!4v1662469633681!5m2!1sen!2ske" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ====================================services=========================== -->
<app-services></app-services>
