<div class="clearfix"></div>
      <br />

      <div class="col-div-3">
        <div class="box">
          <p>67<br /><span>Users</span></p>
          <i class="fa fa-users box-icon"></i>
        </div>
      </div>
      <div class="col-div-3">
        <div class="box">
          <p>88<br /><span>Parcels</span></p>
          <i class="fa fa-cube box-icon"></i>
        </div>
      </div>
      <div class="col-div-3">
        <div class="box">
          <p>$10000<br /><span>Revenue</span></p>
          <i class="fa fa-usdbox-icon"></i>
        </div>
      </div>
      <div class="col-div-3">
        <div class="box">
          <p>78<br /><span>Orders</span></p>
          <i class="fa fa-shopping-bag box-icon"></i>
        </div>
      </div>
      <div class="clearfix"></div>
      <br /><br />
      <div class="col-div-12">
        <div class="box-12">
          <div class="content-box">
            <p>Parcels <span>Sell All</span></p>
            <br />
            <table>
              <tr>
                <th>Sender Name</th>
                <th>Receiver Name</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Time Dispatched</th>
                <th>Parcel status</th>
                <th>Weight</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
