<!-- <div id="main"> -->
<div class="col-div-3">
    <div class="box">
        <p>20<br/><span>Users</span></p>
        <i class="fa fa-users box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>10<br/><span>Projects</span></p>
        <i class="fa fa-list box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>15<br/><span>Notifications</span></p>
        <i class="fa fa-bell box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>78<br/><span>Emails</span></p>
        <i class="fa fa-tasks box-icon"></i>
    </div>
</div>
<div class="clearfix"></div>
<br/><br/>
<div class="col-div-8">
    <div class="box-8">
    <div class="content-box">
        <p>Project Team <span> All</span></p>
        <br/>
        <table>
                <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                </tr>
                <tr>
                <td>evans</td>
                <td>evans@gmail.com</td>
                <td>Not Assigned</td>
                </tr>
                <tr>
                <td>Amos</td>
                <td>amos@gmail.com</td>
                <td>Assigned</td>
                </tr>
                <tr>
                <td>john</td>
                <td>john@gmail</td>
                <td>Not Assigned</td>
                </tr>
                <tr>
                <td>rose</td>
                <td>rose@gmail.com</td>
                <td>Assigned</td>
                </tr>
    </table>
        </div>
    </div>
    </div>

<div class="col-div-4">
    <div class="box-4">
    <div class="content-box">
        <p>Completed Projects </p>

        <div class="circle-wrap">
<div class="circle">
  <div class="mask full">
    <div class="fill"></div>
  </div>
  <div class="mask half">
    <div class="fill"></div>
  </div>
  <div class="inside-circle"> 100% </div>
</div>
</div>
    </div>
</div>
</div>
    
<div class="clearfix"></div>
<!-- </div> -->