<form [formGroup]="UpdatedData" (ngSubmit)="updateParcel()">
  <div *ngIf="isUpdating">
    <div *ngIf="allParcels$ | async as parcels">
      <div class="container-update">
        <div class="row">
          <div class="col-md-6 update-style">
            <small>Sender Name</small>
            <input
              id="name"
              class="form-input"
              type="text"
              value="{{ parcels.sender_id }}"
              formControlName="sender_id"
            />
          </div>
          <div class="col-md-6 update-style">
            <small>Receiver Name</small>
            <input
              id="name"
              class="form-input"
              type="text"
              value="{{ parcels.receiver_id }}"
              formControlName="Weight"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 update-style">
            <small>Origin</small>
            <input
              id="name"
              class="form-input"
              type="text"
              value="{{ parcels.origin }}"
              formControlName="Weight"
            />
          </div>
          <div class="col-md-6 update-style">
            <small>Destination</small>
            <input
              id="name"
              class="form-input"
              type="text"
              value="{{ parcels.destination }} "
              formControlName="Weight"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 update-style">
            <small>Time Dispatched</small>
            <input
              id="name"
              class="form-input"
              type="text"
              value="{{ parcels.Dispatch_time }}"
              formControlName="Weight"
            />
          </div>
          <div class="col-md-6 update-style">
            <small>Weight</small>
            <input
              id="name"
              class="form-input"
              type="text"
              formControlName="Weight"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 update-style">
            <small>Weight</small>
            <input
              id="name"
              class="form-input"
              type="text"
              formControlName="Weight"
            />
          </div>
          <div class="col-md-6 update-style">
            <small>Weight</small>
            <input
              id="name"
              class="form-input"
              type="text"
              formControlName="Weight"
            />
          </div>
        <div class="row update-style">
          <small>Weight</small>
          <input
              id="name"
              class="form-input"
              type="text"
              formControlName="Weight"
            />
          </div>
        </div>
      </div>
      </div>
    </div>
  </form>
