<!-- <div class="contain">

  <div class="wrapper">

    <div class="form">
      <h4 class="form-headline">GREATE NEW PARCEL</h4>
      <form id="submit-form" [formGroup]="formValue" (ngSubmit)="handleSubmit()">
        <p>
          <label for="">Sender Name</label>
          <select class="custom-select" id="inputGroupSelect01"  formControlName="sender_id" class="form-input" placeholder="Sender's Name*">
            <option value="Alice">Alice</option>
            <option value="Evans">Evans</option>
            <option value="Tom">Tom</option>
          </select>
          <small class="name-error"></small>
        </p>
        <p>
          <label for="">Receiver Name</label>
          <select class="custom-select" id="inputGroupSelect01" formControlName="receiver_id" class="form-input">
            <option selected>Receiver</option>
            <option value="Alice">Alice</option>
            <option value="Evans">Evans</option>
            <option value="Tom">Mercy</option>
          </select>
          <small class="name-error"></small>
        </p>
        <p>
          <label for="">Origin</label>
          <select class="custom-select" id="inputGroupSelect01"  formControlName="origin" class="form-input">
            <option selected>Origin</option>
            <option value="Nairobi">Nairobi</option>
            <option value="Kitale">Kitale</option>
            <option value="Kisumu">Kisumu</option>
          </select>
          <small class="name-error"></small>
        </p>
        <p>
          <label for="">Destination</label>
          <select class="custom-select" id="inputGroupSelect01"   formControlName="destination" class="form-input">
            <option selected>Destination</option>
            <option value="Kisumu">Kisumu</option>
            <option value="Kitale">Kitale</option>
            <option value="Nyeri">Nyeri</option>
          </select>
          <small class="name-error"></small>
        </p>
        <p>
          <label for="">Time Dispatched</label>
          <input id="name" class="form-input" type="date" formControlName="Dispatch_time" placeholder="Dispatch time*">
          <small class="name-error"></small>
        </p>
        <p >
          <label for="">Parcel status</label>
          <select class="custom-select" id="inputGroupSelect01"  formControlName="parcel_status" class="form-input" >
            <option value="{{item}}" *ngFor="let item of parcel_status">{{item}}</option>
          </select>
          <small class="name-error"></small>
        </p>

        <p >
          <label for="">Weight</label>
          <input id="name" class="form-input" type="text" formControlName="Weight" placeholder="Weight*">
          <small class="name-error"></small>
        </p>

        <p >
          <label for="">Charge</label>
          <input id="name" class="form-input" type="text" formControlName="Charge" placeholder="Charge*">
          <small class="name-error"></small>
        </p>

        <p class="full-width" >
          <label for="">parcel Description</label>
          <textarea   id="message" cols="2" rows="3" formControlName="parcel_description" placeholder="Parcels Description*" required></textarea>
          <small></small>
        </p>

        <p class="full-width" >
            <button  class="btn btn-primary" >Submit</button></p>
      </form>
    </div>

    <div class="contacts contact-wrapper">


      <ul>
        <li>Interested in becoming Our <span class="highlight-text-grey">Customer at SENT-IT </span>, feel free to send your
           Parcels through our services.</li>
        <span class="hightlight-contact-info">
          <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> sent-it@gmail.com</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text">SENT-IT.COM</span></li>
        </span>
      </ul>
    </div>
  </div>
</div> -->
