<div id="mySidenav" class="sidenav">
	<p class="logo"><span>Eva</span>-Tech</p>
  <a class="icon-a" routerLink="dashboard"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a class="icon-a" routerLink="users"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Users</a>
  <a class="icon-a" routerLink="projects"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Projects</a>
  <a href="#"class="icon-a"><i class="fa fa-bell"></i> &nbsp;&nbsp;Notifications</a>
  <a href="#"class="icon-a"><i class="fa fa-sign-out"></i> &nbsp;&nbsp;LogOut</a>
</div>

<!-- /\============================ -->
<!-- <div [ngStyle]="{'width':navToggleService.nav_button_clicked === true ? '70px' : '300px' }" id="mySidenav" class="sidenav">
	<p [ngStyle]="{'visibility':navToggleService.nav_button_clicked === true ? 'hidden' : 'visible' }" class="logo">
        <span [ngStyle]="{'visibility':navToggleService.nav_button_clicked === true ? 'visible' : 'visible' }"
        >Eva</span>-Tech</p>
  <a [ngStyle]="{'visibility':navToggleService.nav_button_clicked === true ? 'hidden' : 'visible' ,
  'margin-left':navToggleService.nav_button_clicked === true ? '-10px' : '10px'}" class="icon-a" routerLink="dashboard"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a class="icon-a" routerLink="users"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Users</a>
  <a class="icon-a" routerLink="projects"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Projects</a>
  <a href="#"class="icon-a"><i class="fa fa-bell"></i> &nbsp;&nbsp;Notifications</a>
  <a href="#"class="icon-a"><i class="fa fa-sign-out"></i> &nbsp;&nbsp;LogOut</a>
</div> -->

