<div class="col-div-8">
    <div class="box-8">
    <div class="content-box">
        <p>Project Team <span> All</span></p>
        <br/>
        <table>
                <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                </tr>
                <tr>
                <td>evans</td>
                <td>evans@gmail.com</td>
                <td>Not Assigned</td>
                </tr>
                <tr>
                <td>Amos</td>
                <td>amos@gmail.com</td>
                <td>Assigned</td>
                </tr>
                <tr>
                <td>john</td>
                <td>john@gmail</td>
                <td>Not Assigned</td>
                </tr>
                <tr>
                <td>rose</td>
                <td>rose@gmail.com</td>
                <td>Assigned</td>
                </tr>
                <!-- ++++======= -->
                <tr>
                <td>evans</td>
                <td>evans@gmail.com</td>
                <td>Not Assigned</td>
                </tr>
                <tr>
                <td>Amos</td>
                <td>amos@gmail.com</td>
                <td>Assigned</td>
                </tr>
                <tr>
                <td>john</td>
                <td>john@gmail</td>
                <td>Not Assigned</td>
                </tr>
                <tr>
                <td>rose</td>
                <td>rose@gmail.com</td>
                <td>Assigned</td>
                </tr>
                <!-- ======= -->
                <tr>
                    <td>evans</td>
                    <td>evans@gmail.com</td>
                    <td>Not Assigned</td>
                    </tr>
                    <tr>
                    <td>Amos</td>
                    <td>amos@gmail.com</td>
                    <td>Assigned</td>
                    </tr>
                    <tr>
                    <td>john</td>
                    <td>john@gmail</td>
                    <td>Not Assigned</td>
                    </tr>
                    <tr>
                    <td>rose</td>
                    <td>rose@gmail.com</td>
                    <td>Assigned</td>
                    </tr>
                        <!-- +++++====== -->
                        <tr>
                            <td>evans</td>
                            <td>evans@gmail.com</td>
                            <td>Not Assigned</td>
                            </tr>
                            <tr>
                            <td>Amos</td>
                            <td>amos@gmail.com</td>
                            <td>Assigned</td>
                            </tr>
                            <tr>
                            <td>john</td>
                            <td>john@gmail</td>
                            <td>Not Assigned</td>
                            </tr>
                            <tr>
                            <td>rose</td>
                            <td>rose@gmail.com</td>
                            <td>Assigned</td>
                            </tr>
                            <tr>
                                <td>evans</td>
                                <td>evans@gmail.com</td>
                                <td>Not Assigned</td>
                                </tr>
                                <tr>
                                <td>Amos</td>
                                <td>amos@gmail.com</td>
                                <td>Assigned</td>
                                </tr>
                                <tr>
                                <td>john</td>
                                <td>john@gmail</td>
                                <td>Not Assigned</td>
                                </tr>
                                <tr>
                                <td>rose</td>
                                <td>rose@gmail.com</td>
                                <td>Assigned</td>
                                </tr>
                    
        </table>
            </div>
        </div>
        </div>