<div class="who_we_are">
  <div class="container">
    <div class="row">
      <section class="gallery">
        <h1 style="color: #cb562e">Our Services</h1>

        <hr class="line">

        <div class="row">
          <p class="par2">SENT-IT Errands offers you general and specific delivery services.


          </p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/bicycle-bike-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption"> Parcel pickup &amp; Drop-Off  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/archives-documents-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">   Dropping off documents  &amp; Parcels  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/shopping-cart-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption"> Grocery and Supermarket Shopping. </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/bank-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">Bank &amp; Post Office Errands </small>
                </div>
              </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/book-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">Stationery &amp; Office Supplies</small>
                </div>
              </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/cake-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">Cake Sourcing &amp; Delivery</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/person-walking-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">Queuing on behalf of Clients</small>
                </div>
              </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/high-school-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">Purchasing school&#039;s uniforms/Books</small>
                </div>
              </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/laundry-washing-machine-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">laundry pickup &amp; Drop-off to your preferred location</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" data-aos="zoom-in-down" data-aos-duration="1500">
            >
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/drugs-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption"> Picking prescribed drugs from pharmacies on behalf of clients and delivery.</small>
                </div>
              </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in-down" data-aos-duration="1500">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <img src="../../assets/lottie/networking-network-svgrepo-com.svg"  class="picha" alt="">
                  </p>
                  <small class="caption">Connecting clients for designers services for your weddings, birthday to meet your budget </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="par2">Upon service request our customer care team will contact you ,assigning your to a SENT-IT(🏍) for delivery
            </p>
            <hr class="line">
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
