<div class="container">
  <mat-toolbar data-aos="fade-down" data-aos-easing="ease-out" data-aos-duration="2000">
  <img class="logo" src="../../assets/images/logo1.png" alt="">
   <span class="example-spacer"></span>
   <div class="tabs">
    <a routerLink="/home" class="link-deco"><p>Home</p></a>
    <a routerLink="services" class="link-deco"><p>Services</p></a>
     <p>Contact Us</p>

   </div>
  <span class="example-spacer"></span>
  <div class="tabs">
    <p class="logo"><img src="../../assets/images/login.png" class="pro-img" /> <a routerLink="login"><span>Login</span ></a></p>
      <p class="logo"><img src="../../assets/images/login.png" class="pro-img" /> <a routerLink="Register"><span>Register</span ></a></p>
  </div>
 </mat-toolbar>
</div>
<router-outlet></router-outlet>

