<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Email</title>
</head>
<style>
    
    *{
        margin: 0px;
    }
    .container {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
    }
    .login-btn{
        background-color: crimson;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }

    
</style>
<body>
    <table class="container">
        <tr>
            <td>
                <table width="600" style="margin: auto;">
                   <tr>
                       <td style="background-color: white; text-align:center;">
                          <p style="color: #000000;font-size:45px; font-weight:bold"> Welcome To Jitu Project </p>
                       </td>
                   </tr>
                 </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
              <table width="600" style="margin: auto;">
                  <tr>
                      <td>
                         
                          <img src="https://thejitu.com/wp-content/uploads/2022/04/THE-Jitu-developers-f-scaled.jpg" alt="image"/>
                          <h2 style="font-size: 35px;">Hello <%=email%>,</h2>
                          <p style="color: black;font-size: 30px; margin: 10px 0px;font-weight: 400;">WELCOME TO PROJECT SPACE</p>
                          <p style="color: black;font-size: 20px;Margin: 10px 0px;font-weight: 400; max-width: 500px;">
                          You have been assigned a task on  Project Space.
                          The task is <%=project_description%>
                          Please login for more information
                          <a href="https://thejitu.com/">website</a>
                          </p>
                      </td>
                  </tr>
              </table>
          </td>
        </tr>
        <tr>
            <td>
                <table width="600" style="margin: auto;">
                  
              </table>
            </td>
        </tr>
      </table>
    
</body>
</html>