<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0px;
        }
        .container {
            width: 100%;
            margin: auto;
            padding-bottom: 50px;
        }
        .login-btn{
            background-color: crimson;
            color: #ffffff;
            text-decoration: none;
            padding: 10px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <table class="tableContainer">
        <tr>
            <td >
                <table width="600" style="margin: auto;">
                <tr>
                    <td style="background-color: white; text-align:center;">
                        <p style="color: #000000;font-size:45px; font-weight:bold"> PROJECT SPACE</p>
                     </td>
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
              <table width="600" style="margin: auto;">
                  <tr>
                      <td>
                         
                          <img src="https://www.pexels.com/photo/man-sitting-on-chair-in-his-office-in-front-of-a-laptop-12812686/" alt="image"/>
                          <h2 style="font-size: 35px;"><%=name%> has succesfully completed the given task</h2>
                          
                          <p style="color: black;font-size: 20px;Margin: 10px 0px;font-weight: 400; max-width: 500px;">
                          
                                
                          
                          
                          </p>
  
                          <p>Github link: </p><a href="https://github.com/">Visit</a>
                      </td>
                  </tr>
              </table>
          </td>
        </tr>
        <tr>
            <td>
                <table width="600" style="margin: auto;">
                  
              </table>
            </td>
        </tr>

    </table>
    
</body>
</html>